{* This is the welcome page, you can delete it *}

{block content}

    {foreach $flashes as $flash}
        <div class="flash {$flash->type}">{$flash->message}</div>
    {/foreach}

<div id="content">
    {control form}
</div>

{/block}
